<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Alegreya:400,500,700,800|Merriweather:300,300i,400,400i,700,700i|Playfair+Display:400,400i,700,700i,900,900i|Poppins:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600|Artifika|Red+Hat+Text:400,500,700&display=swap" rel="stylesheet">
      
      
    <link href="css/styles.css" rel="stylesheet" type="text/css">

    <title>Hello, Michael!</title>
  </head>
    
  <body style="font-family: Poppins;">
   
      
<header>  
     <div class="mx-auto headergrid" style=" display: grid;"> 
         
     <div><a href="index.html" id="logo">FAYETTE</a>
     </div>
         
    <div class="nav">
    <a href="index.html" style="margin-right: 10px;">Blog</a>
         </div>
    <div class="nav">     
    <a href="about.html">About</a>
        </div>     
    
<div class="menu" id="menubar" onclick="xFunction(this), dropdownFunction()">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
        
    <div class="dropdown-toggle" id="myDropdown">
    <ul class="dropdown">
    <li><a href="index.html">Blog</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="#">What Else</a></li>
    </ul>        
  </div>
</div>     
        
     </div>      
</header>       
      
    
      
<div class="grid">
<div class="grid-sizer"></div>          
<div class="gutter-sizer"></div>
    
<div class="grid-item">
<div class="masonry-content text-center">
     <a href="readmore.html"><img class="image mb-4" src="images/typewriter.JPG" alt="pic"></a>
     <p class="masonry-description mb-4">Aug. 5. 2019</p>
     <h1 class="masonry-title mb-4">Our Daily Log</h1>
     <a class="readmore" href="readmore.html">Read More</a>
</div>
</div>
                 
<div class="grid-item">
<div class="masonry-content text-center">
    <a href="readmore.html"><img class="image mb-4" src="images/menu.JPG" alt="pic2"></a>
    <p class="masonry-description mb-4">Aug. 5. 2019</p>
    <h1 class="masonry-title mb-4">Our Daily Log</h1>
    <a class="readmore" href="readmore.html">Read More</a>
</div>
</div>
    
<div class="grid-item">
<div class="masonry-content text-center">
    <a href="readmore.html"><img class="image mb-4" src="images/jamjars.JPG" alt="pic2"></a>
    <p class="masonry-description mb-4">Aug. 5. 2019</p>
    <h1 class="masonry-title mb-4">Our Daily Log</h1>
    <a class="readmore" href="readmore.html">Read More</a>
</div>
</div>    

<div class="grid-item">
<div class="masonry-content text-center">
     <a href="readmore.html"><img class="image mb-4" src="images/typewriter.JPG" alt="pic"></a>
     <p class="masonry-description mb-4">Aug. 5. 2019</p>
     <h1 class="masonry-title mb-4">Our Daily Log</h1>
     <a class="readmore" href="readmore.html">Read More</a>
</div>
</div>    
          
      
</div>


<script src="js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="js/masonry.pkgd.js"></script>

<script>
function xFunction(x) {
  x.classList.toggle("change");
}
</script> 
      
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function dropdownFunction() {
  document.getElementById("myDropdown").classList.toggle("show");  
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.menu')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
      
    var menubar = document.getElementById("menubar");
     if (menubar.classList.contains('change')) {
      menubar.classList.remove('change');
    } 
  }
}

</script> 
      
<!--
<script>
$( ".menu" ).click(function() {
  $( ".dropdown" ).slideToggle( "slow" );
});
</script>      
-->

      
<script> 
    
$('.grid').masonry({
  // set itemSelector so .grid-sizer is not used in layout
  itemSelector: '.grid-item',
  // use element for option
  columnWidth: '.grid-sizer',
  percentPosition: true,
    gutter: '.gutter-sizer',
//    fitWidth: true,
    transitionDuration: '0.8s',
    stagger: 30
})   
    
// init Masonry
var $grid = $('.grid').masonry({
  // options...
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress( function() {
  $grid.masonry('layout');
});    
</script> 
      
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>       <script src="https://code.jquery.com/jquery-3.4.1.js"></script> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
-->
  </body>
</html>