<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya:400,500,700,800|Playfair+Display:400,700,900|Red+Hat+Text:400,500,700&display=swap" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet" type="text/css">

    <title>Hello, Michael!</title>
  </head>
    
  <body style="font-family: Poppins;">
   
      
<header class="container-fluid pt-5 pl-4" style="height: 8em;">  
     <div class="mx-auto"> 
     <h1 class="ml-5 mb-5" style="font-family: Alegreya; font-weight: 700; font-size: 30px; letter-spacing: 2px"><a href="index.html" id="logo">FAYETTE</a></h1>
    </div>   
    </header>       
      
      
      
      <div class="masonry container-fluid" style="padding: 4em;">
          
         
              <div class="masonry-brick" style="grid-row-end: span 11">
                    <div class="masonry-content col--2x text-center" style="">
          <img class="mb-4" src="images/IMG_2715.JPG" alt="pic">
                        <p class="masonry-description mb-4">Aug. 5. 2019</p>
                        <h1 class="masonry-title mb-4" style="font-family: 'Playfair Display'; font-weight: 400">Our Daily Log</h1>
                        <a href="readmore.html">Read More</a>
          </div>
                  </div>
                 
          <div class="masonry-brick" style="grid-row-end: span 17">
          <div class="masonry-content col--3x text-center" style="">
          <img class="mb-4" src="images/pool.JPG" alt="pic2">
                        <p class="masonry-description mb-4">Aug. 5. 2019</p>
                        <h1 class="masonry-title mb-4" style="font-family: 'Red Hat Text'; font-weight: 400;">Our Daily Log</h1>
                        <a href="readmore.html">Read More</a>
          </div>
          </div>
                    <div class="masonry-brick" style="grid-row-end: span 11">
                    <div class="masonry-content col--2x text-center" style="">
          <img class="mb-4" src="images/fireworks.JPG" alt="pic">
                        <p class="masonry-description mb-4">Aug. 5. 2019</p>
                        <h1 class="masonry-title mb-4">Our Daily Log</h1>
                        <a href="readmore.html">Read More</a>
          </div>
                  </div>
          
          
           <div class="masonry-brick" style="grid-row-end: span 17">
          <div class="masonry-content col--3x text-center" style="">
          <img class="mb-4" src="images/IMG_0898.JPG" alt="pic2">
                        <p class="masonry-description mb-4">Aug. 5. 2019</p>
                        <h1 class="masonry-title mb-4">Our Daily Log</h1>
                        <a href="readmore.html">Read More</a>
          </div>
          </div>
                    <div class="masonry-brick" style="grid-row-end: span 11">
                    <div class="masonry-content col--2x text-center" style="">
          <img class="mb-4" src="images/IMG_1340.JPG" alt="pic">
                        <p class="masonry-description mb-4">Aug. 5. 2019</p>
                        <h1 class="masonry-title mb-4">Our Daily Log</h1>
                        <a href="readmore.html">Read More</a>
          </div>
                  </div>
          
           <div class="masonry-brick" style="grid-row-end: span 17">
          <div class="masonry-content col--3x text-center" style="">
          <img class="mb-4" src="images/pool.JPG" alt="pic2">
                        <p class="masonry-description mb-4">Aug. 5. 2019</p>
                        <h1 class="masonry-title mb-4">Our Daily Log</h1>
                        <a href="readmore.html">Read More</a>
          </div>
          </div>
                    <div class="masonry-brick" style="grid-row-end: span 11">
                    <div class="masonry-content col--2x text-center" style="">
          <img class="mb-4" src="images/IMG_0693.jpg" alt="pic">
                        <p class="masonry-description mb-4">Aug. 5. 2019</p>
                        <h1 class="masonry-title mb-4">Our Daily Log</h1>
                        <a href="readmore.html">Read More</a>
          </div>
                  </div>
          
           <div class="masonry-brick" style="grid-row-end: span 17">
          <div class="masonry-content col--3x text-center" style="">
          <img class="mb-4" src="images/pool.JPG" alt="pic2">
                        <p class="masonry-description mb-4">Aug. 5. 2019</p>
                        <h1 class="masonry-title mb-4">Our Daily Log</h1>
                        <a href="readmore.html">Read More</a>
          </div>
          </div>
                    <div class="masonry-brick" style="grid-row-end: span 11">
                    <div class="masonry-content col--2x text-center" style="">
          <img class="mb-4" src="images/IMG_2715.JPG" alt="pic">
                        <p class="masonry-description mb-4">Aug. 5. 2019</p>
                        <h1 class="masonry-title mb-4">Our Daily Log</h1>
                        <a href="readmore.html">Read More</a>
          </div>
                  </div>
          
           <div class="masonry-brick" style="grid-row-end: span 17">
          <div class="masonry-content col--3x text-center" style="">
          <img class="mb-4" src="images/pool.JPG" alt="pic2">
                        <p class="masonry-description mb-4">Aug. 5. 2019</p>
                        <h1 class="masonry-title mb-4">Our Daily Log</h1>
                        <a href="readmore.html">Read More</a>
          </div>
          </div>
          
      
</div>


      
      
      
      
      
      
    <!--[if lte IE 9]>
<script src="masonry.js"></script>
<![endif]-->  
      
      
      <script src="js/script.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>