<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
      
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Alegreya:400,500,700,800|Merriweather:300,300i,400,400i,700,700i|Playfair+Display:400,400i,700,700i,900,900i|Poppins:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600|Artifika|Red+Hat+Text:400,500,700&display=swap" rel="stylesheet">
      
      
    <link href="css/styles.css" rel="stylesheet" type="text/css">
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
      
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>  
      
    <script>
$(document).ready(function(){
  $("#changeimg").click(function(){
    $("div.crop").hide();
    $("#changeimg").hide();
    $("#previewtitle").hide();   
  });
  $("#changeimg").click(function(){
    $("#selectimg").show();
  });
    
    $("#done").click(function(){
    var images = $('.selected img').attr('src');     
    $('#previewimg').prop('src', images); 
    $("#selectimg").hide();  
        
  });
    
  $("#done").click(function(){
 
    $("div.crop").show();  
    $("#changeimg").show();
    $("#previewtitle").show();
  });  
});
</script> 
      
<script>
    
$(function() {
$(".column3").click(function() {
    
$(".column3").not(this).removeClass("selected");
$(this).toggleClass("selected");
$(this).addClass('no-hover');  
$(".column3").not(this).removeClass("no-hover"); 
      
  
});

});
   
</script>           
      
    </head>

<body style="font-family: 'Red Hat Text'">


<!-- Extra large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Extra large modal</button>

    
    
<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" style="background: white; ">

    
    
<div class="modal-dialog modal-xl">
 
    
<div class="modal-content" style="border-style: none;">
     
        
<div class="container">
 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>    
    
<div class="row">
        
<div class="column2">
<h1 id="modalh1" style="padding: 0;">Story Preview</h1>

<div style="position: relative;">
<button type="button" id="changeimg">
  Change preview image
</button>    
<div class="crop">
<img id="previewimg" src="images/booksVashon.JPG" alt="preview"> 
</div>   
</div>
    
<div id="selectimg">
<button id="done">Done</button>   
    
<div style="height: auto; margin: 0 auto;">

<div >
<div class="row" style="margin: 0 auto; padding-left: 20px; ">
    
<div class="column3 thumbnail">
<img class="selectimg-choice" src="images/booksVashon.JPG" alt="pic1">
</div>  <!--end of column-->  

<div class="column3 thumbnail">
<img class="selectimg-choice" src="images/typewriter.JPG" alt="pic1">
</div> 
 
<div class="column3 thumbnail" >    
<img class="selectimg-choice portrait" src="images/menu.JPG" alt="pic1">
</div>   

<div class="column3 thumbnail">
<img class="selectimg-choice" src="images/booksVashon.JPG" alt="pic1">
</div>  <!--end of column-->  

<div class="column3 thumbnail">
<img class="selectimg-choice" src="images/typewriter.JPG" alt="pic1">
</div> 
 
<div class="column3 thumbnail" >    
<img class="selectimg-choice portrait" src="images/menu.JPG" alt="pic1">
</div>    
    
      
</div>    <!--end of row-->  
</div>        
       
    
</div>    
    
    
    
</div>    
    
<form id="previewtitle" action="/action_page.php">
<input type="text" name="title" placeholder="Write a preview title" style=" font-weight: 500; font-size: 1.2em;">      
<input type="text" name="subtitle" placeholder="Write a preview subtitle" style="font-size: 1em;">        
</form>
</div> <!--end of col1-->
        
        
<div class="column2">
<form action="/action_page.php">
<p style="font-size: 0.9em; margin: 5px 0 15px 0;">Add or change tags (up to 5)  </p>    
<input type="text" name="tag" placeholder="Add a tag">

<input type="submit" name="submit" value="Publish Now" style="margin-top: 20px;">
</form>  
</div> <!--end of col2-->
     </div> <!--end of row--> 
        </div> <!--end of container-->   
       
      
    </div>
  </div>
</div>

  
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
    
    
</html>