<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Alegreya:400,500,700,800|Merriweather:300,300i,400,400i,700,700i|Playfair+Display:400,400i,700,700i,900,900i|Open+Sans:300,400,600|Artifika|Red+Hat+Text:400,500,700&display=swap" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet" type="text/css">  
      
    <title>Hello, Michael!</title>
  </head>
    
  <body style="font-family: 'Open Sans'">
    
      
<header class="pt-5 pl-4">  
     <div class="mx-auto"> 
     <h1><a href="index.html" id="logo">FAYETTE</a></h1>
    </div>   
</header>
         

      
      
<!--    nav bar!!!!!!!!!!!!!!!!      -->
<!--
      <nav id="nav" class="sticky-top navbar-light mb-5 bg-white" style="clear: both">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active text-dark mt-2 mb-2" href="index.html" style="font-size: 12px">DAILY</a> </li>
          <li class="nav-item"><a class="nav-link text-muted mt-2 mb-2" href="travel.html" style="font-size: 12px">TRAVEL</a> </li>
          <li class="nav-item"><a class="nav-link text-muted mt-2 mb-2" href="#" style="font-size: 12px">MUSIC</a> </li>
          <li class="nav-item"><a class="nav-link text-muted mt-2 mb-2" href="#" style="font-size: 12px">MOVIE</a>  </li>
          <li class="nav-item"><a class="nav-link text-muted mt-2 mb-2" href="#" style="font-size: 12px">BOOK</a> </li>
          </ul>
</nav>
-->
      
       
<div class="container-fluid pt-5" id="article" style="margin-bottom: 100px;">
          
<div class="mb-4">
<h2>Soaking In The Colors, and Reboot Builds Upon Normalize, Providing HTML.</h2>
<h3>Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles.</h3>
    </div>  
    
<div class="mb-3" style="border: 1px white solid;">
<img src="images/Jiyun.JPG" alt="Jiyun's profile" width="50px;" style="float: left; margin-right: 10px;">
<img src="images/Michael.JPG" alt="Michael's profile" width="50px;" style="float: left; margin-right: 15px;"> 
    
<p style="font-size: 16px; line-height: 12px; margin-top: 10px; margin-bottom: 10px;">Jiyun, Michael</p>
<p style="font-size: 16px; color: #777; line-height: 12px;">Aug. 28. 2019</p>    
              </div>

<figure>
<img src="images/typewriter.JPG" class="img-fluid mx-auto d-block articleimg" alt="Beautiful Sky"> 
<figcaption>Photo by Jiyun in Vashon, Washington</figcaption>
</figure>    
    
<p class="articlecontent" style="font-family: KoreanMWL;">
안녕 자기야. 이 글씨체는 어때? 지금 비가 내리는데 지붕위에 떨어지는 소리가 좋다. 자기가 지금 이 소리, 이 분위기를 정말 좋아했을 것 같아. 함께 있으면 좋을텐데. </p>
<p class="articlecontent" style="font-family: Godo M;">
안녕 자기야. 이 글씨체는 어때? 지금 비가 내리는데 지붕위에 떨어지는 소리가 좋다. 자기가 지금 이 소리, 이 분위기를 정말 좋아했을 것 같아. 함께 있으면 좋을텐데. </p>
<p class="articlecontent" style="font-family:KoreanGD15R;">
안녕 자기야. 이 글씨체는 어때? 지금 비가 내리는데 지붕위에 떨어지는 소리가 좋다. 자기가 지금 이 소리, 이 분위기를 정말 좋아했을 것 같아. 함께 있으면 좋을텐데. </p>
<p class="articlecontent" style="font-family: KoreanPNKOL;">
안녕 자기야. 이 글씨체는 어때? 지금 비가 내리는데 지붕위에 떨어지는 소리가 좋다. 자기가 지금 이 소리, 이 분위기를 정말 좋아했을 것 같아. 함께 있으면 좋을텐데. </p>
<p class="articlecontent" style="font-family:;">
안녕 자기야. 이 글씨체는 어때? 지금 비가 내리는데 지붕위에 떨어지는 소리가 좋다. 자기가 지금 이 소리, 이 분위기를 정말 좋아했을 것 같아. 함께 있으면 좋을텐데. </p>    
    
<p class="articlecontent">    
Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. Additional styling is done only with classes. For example, we reboot some table styles for a simpler baseline and later provide .table, .table-bordered, and more. </p> 
    
<h4>Soaking In The Colors</h4>
    
<p class="articlecontent">Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. 
Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. Additional styling is done only with classes. </p>

<figure>
<img src="images/booksVashon.JPG" class="img-fluid mx-auto d-block articleimg" alt="Beautiful Sky"> 
<figcaption>Photo by Jiyun in Vashon, Washington</figcaption>
</figure>     
    
<p class="articlecontent">    
For example, we reboot some table styles for a simpler baseline and later provide .table, .table-bordered, and more. Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors.</p> 

<blockquote>
"안녕, 난 시네마체라고 해. 오늘은 기분이 우울하니까 하이힐을 신어야겠어. 그리고 성언이한테 사랑한다고 전해줄래? 지금 비가 내리는데, 빗소리 좋다.." 
</blockquote>        
    
<p class="articlecontent">    
Additional styling is done only with classes. For example, we reboot some table styles for a simpler baseline and later provide .table, .table-bordered, and more. Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. </p>
        

<h4>Soaking In The Colors</h4>  
    
<p class="articlecontent">Additional styling is done only with classes. For example, we reboot some table styles for a simpler baseline and later provide .table, .table-bordered, and more.</p>
    
<p class="articlecontent">Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. </p>

<p class="articlecontent">   
Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. Additional styling is done only with classes. For example, we reboot some table styles for a simpler baseline and later provide .table, .table-bordered, and more. Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. </p>    
          
    </div>

      
      
<!--
      <div class="container-fluid text-center" style="margin-bottom: 100px;">
        <img src="images/fireworks.JPG" class="img-fluid mx-auto d-block mb-5" style="width: 70%" alt="Fireworks"> 
      <h1 class="pb-1" style="font-size: 20px; letter-spacing: 2px;">FLOWERS IN THE SKY</h1>
      <p class="mb-4" style="font-size: 12px; color: #ccc; letter-spacing: 2px;">JULY 4, 2019</p>
      
      <p class="mx-auto mb-5 text-left" style="font-family: Arial; font-size: 14px; width: 65%;">Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. Additional styling is done only with classes. For example, we reboot some table styles for a simpler baseline and later provide .table, .table-bordered, and more. Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. </p>
          
    <a class="inline-block text-dark" href="#" style="font-size: 11px; text-decoration-line: none; ">READ MORE</a>
      
      </div>
-->
      
      

<!--
   <article class="col--2x" style="margin-bottom: 90px;">  
    <section>      
     <img src="images/IMG_2715.JPG" class="mx-auto d-block mb-5" alt="Beautiful Sky">
     </section>
    
    <section>
    <div class="container-fluid mx-auto text-center p-0">
     <h1 class="mb-4" style="font-size: 30px; letter-spacing: 2px;">SOAKING IN THE COLORS</h1>
        <p class="mb-4" style="font-size: 15px; color: #999; letter-spacing: 2px;">JULY 22, 2019</p>
      <p class="mx-auto text-left w-75 mb-5" style="font-family: Arial; font-size: 15px;">Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. Additional styling is done only with classes. For example, we reboot some table styles for a simpler baseline and later provide .table, .table-bordered, and more. Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. </p>          
    <a class="inline-block text-dark" href="#" style="font-size: 11px; text-decoration-line: none; ">READ MORE</a>
      </div>
        </section>
  
    </article>
-->
         
         
       
         
<!--
             <article style="margin-bottom: 90px; border: 1px solid black">  

    <section>      
     <img src="images/IMG_2715.JPG" class="mx-auto d-block mb-5"  alt="Beautiful Sky">
     </section>
    
    <section>
    <div class="container-fluid mx-auto text-center p-0">
     <h1 class="mb-4" style="font-size: 30px; letter-spacing: 2px;">SOAKING IN THE COLORS</h1>
        <p class="mb-4" style="font-size: 15px; color: #999; letter-spacing: 2px;">JULY 22, 2019</p>
      <p class="mx-auto text-left w-75 mb-5" style="font-family: Arial; font-size: 15px;">Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. Additional styling is done only with classes. For example, we reboot some table styles for a simpler baseline and later provide .table, .table-bordered, and more. Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. </p>          
    <a class="inline-block text-dark" href="#" style="font-size: 11px; text-decoration-line: none; ">READ MORE</a>
      </div>
        </section>
         
    </article>
-->
    
      
      
<!--

   <article class="col--2x" style="margin-bottom: 90px;">  

    <section>      
     <img src="images/IMG_2715.JPG" class="mx-auto d-block mb-5" alt="Beautiful Sky">
     </section>
    
    <section>
    <div class="container-fluid mx-auto text-center p-0">
     <h1 class="mb-4" style="font-size: 30px; letter-spacing: 2px;">SOAKING IN THE COLORS</h1>
        <p class="mb-4" style="font-size: 15px; color: #999; letter-spacing: 2px;">JULY 22, 2019</p>
      <p class="mx-auto text-left w-75 mb-5" style="font-family: Arial; font-size: 15px;">Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. Additional styling is done only with classes. For example, we reboot some table styles for a simpler baseline and later provide .table, .table-bordered, and more. Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. </p>          
    <a class="inline-block text-dark" href="#" style="font-size: 11px; text-decoration-line: none; ">READ MORE</a>
      </div>
        </section>

    </article>
-->

         
    
      
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>