<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
      
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css' ) }}">
    

    <title>Hello, world!</title>
  </head>
    
  <body style="font-family: Montserrat">
      
    <header class="pb-5 pt-5" style="height: 10.5em">  
     <div class="w-75 p-3 mx-auto"> 
     <h1 class="text-center mb-5" style="font-weight: 700; font-size: 53px; letter-spacing: 2px">FAYETTE</h1>          
    </div>   
    </header>  
      
      <nav id="nav" class="sticky-top navbar-light mb-5 bg-white">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active text-dark mt-2 mb-2" href="index.html" style="font-size: 12px">DAILY</a> </li>
          <li class="nav-item"><a class="nav-link text-muted mt-2 mb-2" href="travel.html" style="font-size: 12px">TRAVEL</a> </li>
          <li class="nav-item"><a class="nav-link text-muted mt-2 mb-2" href="#" style="font-size: 12px">MUSIC</a> </li>
          <li class="nav-item"><a class="nav-link text-muted mt-2 mb-2" href="#" style="font-size: 12px">MOVIE</a>  </li>
          <li class="nav-item"><a class="nav-link text-muted mt-2 mb-2" href="#" style="font-size: 12px">BOOK</a> </li>
              </ul>
    </nav>

        {% for hist in hists %}
            <div class="container-fluid text-center" style="margin-bottom: 100px;">
            <img src="{{url_for('static', filename=hist)}}"  class="img-fluid mx-auto d-block mb-5" alt="{{hist}}"> 
          <h1 class="pb-1" style="font-size: 20px; letter-spacing: 2px;">SOAKING IN THE COLORS</h1>
          <p class="mb-4" style="font-size: 12px; color: #ccc; letter-spacing: 2px;">JULY 22, 2019</p>

          <p class="mx-auto mb-5 text-left" style="font-family: Arial; font-size: 14px; width: 65%;">Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. Additional styling is done only with classes. For example, we reboot some table styles for a simpler baseline and later provide .table, .table-bordered, and more. Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. </p>

        <a class="inline-block text-dark" href="#" style="font-size: 11px; text-decoration-line: none; ">READ MORE</a>

          </div>

        {% endfor %}

      
      
      <div class="container-fluid text-center" style="margin-bottom: 100px;">
        <img src="{{ url_for('static', filename='images/jiyun/IMG_2715.JPG' ) }}" class="img-fluid mx-auto d-block mb-5        " style="width: 70%" alt="Beautiful Sky"> 
      <h1 class="pb-1" style="font-size: 20px; letter-spacing: 2px;">SOAKING IN THE COLORS</h1>
      <p class="mb-4" style="font-size: 12px; color: #ccc; letter-spacing: 2px;">JULY 22, 2019</p>

      <p class="mx-auto mb-5 text-left" style="font-family: Arial; font-size: 14px; width: 65%;">Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. Additional styling is done only with classes. For example, we reboot some table styles for a simpler baseline and later provide .table, .table-bordered, and more. Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. </p>
          
    <a class="inline-block text-dark" href="#" style="font-size: 11px; text-decoration-line: none; ">READ MORE</a>
      
      </div>

      
      
      <div class="container-fluid text-center" style="margin-bottom: 100px;">
        <img src="{{ url_for('static', filename='images/jiyun/fireworks.JPG' ) }}" class="img-fluid mx-auto d-block mb-5" style="width: 70%" alt="Fireworks"> 
      <h1 class="pb-1" style="font-size: 20px; letter-spacing: 2px;">FLOWERS IN THE SKY</h1>
      <p class="mb-4" style="font-size: 12px; color: #ccc; letter-spacing: 2px;">JULY 4, 2019</p>
      
      <p class="mx-auto mb-5 text-left" style="font-family: Arial; font-size: 14px; width: 65%;">Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. Additional styling is done only with classes. For example, we reboot some table styles for a simpler baseline and later provide .table, .table-bordered, and more. Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. </p>
          
    <a class="inline-block text-dark" href="#" style="font-size: 11px; text-decoration-line: none; ">READ MORE</a>
      
      </div>
      
    <div class="container-fluid text-center" style="margin-bottom: 100px;">
        <img src="{{ url_for('static', filename='images/jiyun/fireworks.JPG' ) }}" class="img-fluid mx-auto d-block mb-5" style="width: 70%" alt="Fireworks"> 
      <h1 class="pb-1" style="font-size: 20px; letter-spacing: 2px;">FLOWERS IN THE SKY</h1>
      <p class="mb-4" style="font-size: 12px; color: #ccc; letter-spacing: 2px;">JULY 4, 2019</p>
      
      <p class="mx-auto mb-5 text-left" style="font-family: Arial; font-size: 14px; width: 65%;">Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. Additional styling is done only with classes. For example, we reboot some table styles for a simpler baseline and later provide .table, .table-bordered, and more. Reboot builds upon Normalize, providing many HTML elements with somewhat opinionated styles using only element selectors. </p>
          
    <a class="inline-block text-dark" href="#" style="font-size: 11px; text-decoration-line: none; ">READ MORE</a>
      
      </div>


      <div class = "michael background">
          
      </div>
            
      <section><article class="background">

  <div class="a"></div>
  <div class="b"></div>
  <div class="c"></div>
  <div class="d"></div>
  <div class="e"></div>
  <div class="f"></div>
  <div class="g"></div>
  <div class="h"></div>
  <div class="i"></div>
  <div class="j"></div>
  <div class="k"></div>
  <div class="l"></div>
  </article></section>



      
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>