<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Alegreya:400,500,700,800|Merriweather:300,300i,400,400i,700,700i|Playfair+Display:400,400i,700,700i,900,900i|Poppins:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600|Artifika|Red+Hat+Text:400,500,700&display=swap" rel="stylesheet">
      
      
    <link href="css/styles.css" rel="stylesheet" type="text/css">

    <title>Hello, Michael!</title>
  </head>
    
  <body style="font-family: Poppins;">
   
      
<header>  
     <div class="mx-auto"> 
     <h1><a href="index.html" id="logo">FAYETTE</a></h1>
    </div>   
</header>       
      
    
      
<div class="masonry">
          
         
<div class="masonry-brick">
<div class="masonry-content text-center">
     <a href="readmore.html"><img class="image mb-4" src="images/typewriter.JPG" alt="pic"></a>
     <p class="masonry-description mb-4">Aug. 5. 2019</p>
     <h1 class="masonry-title mb-4">Our Daily Log</h1>
     <a href="readmore.html">Read More</a>
</div>
</div>
                 
<div class="masonry-brick">
<div class="masonry-content text-center">
    <a href="readmore.html"><img class="image mb-4" src="images/menu.JPG" alt="pic2"></a>
    <p class="masonry-description mb-4">Aug. 5. 2019</p>
    <h1 class="masonry-title mb-4">Our Daily Log</h1>
    <a href="readmore.html">Read More</a>
</div>
</div>
    
<div class="masonry-brick">
<div class="masonry-content text-center">
    <a href="readmore.html"><img class="image mb-4" src="images/jamjars.JPG" alt="pic2"></a>
    <p class="masonry-description mb-4">Aug. 5. 2019</p>
    <h1 class="masonry-title mb-4">Our Daily Log</h1>
    <a href="readmore.html">Read More</a>
</div>
</div>    
    
<div class="masonry-brick">     
<div class="masonry-content text-center">
    <a href="readmore.html"><img class="image mb-4" src="images/booksVashon.JPG" alt="pic"></a>
    <p class="masonry-description mb-4">Aug. 5. 2019</p>
    <h1 class="masonry-title mb-4">Our Daily Log</h1>
    <a href="readmore.html">Read More</a>
</div>      
</div>    

<div class="masonry-brick">
<div class="masonry-content text-center">
    <a href="readmore.html"><img class="image mb-4" src="images/opensign.JPG" alt="pic2"></a>
    <p class="masonry-description mb-4">Aug. 5. 2019</p>
    <h1 class="masonry-title mb-4">Our Daily Log</h1>
    <a href="readmore.html">Read More</a>
</div>
</div>   
         
<div class="masonry-brick">     
<div class="masonry-content text-center">
    <a href="readmore.html"><img class="image mb-4" src="images/IMG_1340.JPG" alt="pic"></a>
    <p class="masonry-description mb-4">Aug. 5. 2019</p>
    <h1 class="masonry-title mb-4">Our Daily Log</h1>
    <a href="readmore.html">Read More</a>
</div>      
</div>

<div class="masonry-brick">
<div class="masonry-content text-center">
    <a href="readmore.html"><img class="image mb-4" src="images/IMG_0693.jpg" alt="pic"></a>
    <p class="masonry-description mb-4">Aug. 5. 2019</p>
    <h1 class="masonry-title mb-4">Our Daily Log</h1>
    <a href="readmore.html">Read More</a>
</div>
</div>   
                    
<div class="masonry-brick">
<div class="masonry-content text-center">
    <a href="readmore.html"><img class="image mb-4" src="images/IMG_2715.JPG" alt="pic"></a>
    <p class="masonry-description mb-4">Aug. 5. 2019</p>
    <h1 class="masonry-title mb-4">Our Daily Log</h1>
    <a href="readmore.html">Read More</a>
</div>
</div>
          
          
      
</div>


<script src="js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="js/masonry.pkgd.js"></script>
      
<script>
jQuery(window).on('load', function() {   
$('.masonry').masonry({
  itemSelector: '.masonry-brick',
  columnWidth: 160,
  transitionDuration: '0.8s'
});
});

</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
-->
  </body>
</html>